# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
.egg-info/
dist/
build/
*.egg